        *{
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            box-sizing: border-box;
            transition: all 0.3s ease;
            /* border: 1px solid black; */
        }

        :root{
        --clr-primary: #012169;
        --clr-primary-hover: #D4285B;
        --clr-secondary: #009EFF;
        --clr-secondary-hover: #ffffff;
        --clr-neutral: #F0F0F0;
        --clr-light-blue: #6CACE4;
        --clr-baby-blue: #c0ebfc;
        --clr-hyperlink: #0000ff;
        
        --radius: 0.2rem;
        }
        
        /* NAVBAR START */
        .navbar{
            font-size: 1rem;
            box-shadow: 0rem 0rem calc(3rem/6) gray;
            background: var(--clr-secondary-hover);
            margin: 0;
            padding-top: 0;
            padding-left: 2vw;
            padding-right: 2vw;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            z-index: 200;
            position: sticky;
            top: 0;
        }

        .navbar a{
            font-weight: 700;
        }

        .navbar .active-page{
            text-decoration: underline var(--clr-primary-hover) calc(2rem/16);
            text-underline-offset: calc(4rem/16);
            text-decoration-skip-ink: auto;
        }

        .logo-list{
            font-size: calc(20rem/16);
            align-self: center;
        }

        .logo-item{
            border-radius: 0;
            display: flex;
            padding: 0;
            margin: 0;
        }

        .logo-item a{
            text-decoration: none;
            color: var(--clr-primary);
            font-family: "Cinzel", serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;
        }

        #baseball{
            scale: 34%;
        }

        .logo-list a:hover{
            color: var(--clr-primary-hover);
            transition: all 200ms ease-in;
        }

        .nav-list{
            border-radius: 0;
            display: flex;
            justify-content: flex-end;
            overflow: hidden;
            align-items: center;
            padding-left: 0;
            column-gap: 3vw;
        }

        .nav-item{
            list-style-type: none;
            margin: calc(10rem/16);
        }

        .nav-item a{
            text-decoration: none;
            color: var(--clr-primary);
        }

        .nav-item a:hover{
            color: var(--clr-primary-hover);
            transition: all 200ms ease-in;
        }
        /* NAVBAR END */

        .resume-btn{
            display: inline-block;
            background-color: var(--clr-secondary-hover);
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: 0.167rem solid var(--clr-primary);
            text-decoration: none;
            font-size: 1rem;
            cursor: pointer;
            font-weight: bold;
            color: var(--clr-primary);
        }

        .resume-btn:hover{
            background-color: var(--clr-primary-hover);
            color: var(--clr-secondary-hover);
        }

        /* PAGE WRAPPER START */
        .page-wrapper{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
        }
        /* PAGE WRAPPER END */

        /* HAMBURGER BAR START */
        .hamburger{
            display: none;
            cursor: pointer;
            flex-direction: column;
            gap: calc(5rem/16);
        }

        .bar{
            display: block;
            width: calc(25rem/16);
            height: calc(3rem/16);
            background-color: var(--clr-primary);
            border-radius: calc(3rem/16);
        }
        /* HAMBURGER BAR END */
        
        /* ABOUT NAVBAR START */
        .about-navbar{
            font-size: 1rem;
            box-shadow: 0rem 0rem calc(3rem/16) gray;
            background: var(--clr-baby-blue);
            margin: 0rem;
            position: sticky;
            padding: 0rem;
            width: 100%;
            top: calc(71.1rem/16);
            left: 0;
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            z-index: 150;
        }

        .about-navbar a{
            font-weight: 700;
        }

        .about-navbar .active-page{
            text-decoration: underline var(--clr-primary-hover) calc(2rem/16);
            text-underline-offset: calc(4rem/16);
            text-decoration-skip-ink: auto;
        }
        .about-list{
            border-radius: 0;
            display: flex;
            padding-left: 0;
            margin: 0;
            list-style: none;
            row-gap: 3vh;
            width: 100%;
            flex-direction: row;
        }

        .about-item{
            list-style-type: none;
            margin: calc(16rem/16);
            flex: 1;
            text-align: center;
        }

        .about-item a{
            text-decoration: none;
            color: var(--clr-primary);
        }

        .about-item a:hover{
            color: var(--clr-primary-hover);
            transition: all 200ms ease-in;
        }

        /* ABOUT NAVBAR END */

        /* SUBSECTION NAVBAR START */
            .subsection-navbar{
            font-size: 0.8rem;
            box-shadow: 0rem 0rem calc(3rem/16) gray;
            background: var(--clr-baby-blue);
            margin: 0;
            position: fixed;
            padding-top: 10rem;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 16vw;
            height: calc(100vh + 6rem);
            top: 0rem;
            left: 0;
            gap: 1rem;
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            z-index: 100;
        }

        .subsection-navbar a{
            font-weight: 700;
        }

        .subsection-navbar .active-page{
            text-decoration: underline var(--clr-primary-hover) calc(2rem/16);
            text-underline-offset: calc(4rem/16);
            text-decoration-skip-ink: auto;
        }
        .subsection-list{
            border-radius: 0;
            display: block;
            justify-content: space-evenly;
            overflow: hidden;
            align-items: center;
            padding-left: 0;
            row-gap: 3vh;
            flex-direction: column;
        }

        .subsection-item{
            list-style-type: none;
            margin-top: calc(10rem/16);
            margin-bottom: 1.5rem;
        }

        .subsection-item a{
            text-decoration: none;
            color: var(--clr-primary);
        }

        .subsection-item a:hover{
            color: var(--clr-primary-hover);
            transition: all 200ms ease-in;
        }

        /* SUBSECTION NAVBAR END */

        html{
            scroll-behavior: smooth;
        }

        body{
            font-size: calc(20rem/16);
            background-color: var(--clr-secondary-hover);
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            width: 100%;
            min-height: 100vh;
            flex-direction: row;
            align-items: flex-start;
        }

        main{
            margin-left: 12vw;
            padding-left: 8vw;
            margin-right: 20vw;
            overflow: hidden;
            min-height: 100vh;
            margin-top: 3vw;
            justify-content: space-between;
            flex-direction: column;
            flex: 1;
            overflow-wrap: break-word;
            line-height: 1.8;
        }

        .intextlinks{
            text-decoration: none;
            color: var(--clr-hyperlink);
            font-weight: 400;
        }

        .headshot{
            width: 30%;
            height: auto;
            border-radius: 1rem;
            border: .5vw solid var(--clr-primary);
            margin: 0;
        }
        
        .description{
            font-size: 1rem;
            margin: 0;
            width: 100%;
            display: block;
            text-align: center;
        }

        .pageheader{
            font-weight: bold;
            color: var(--clr-primary);
            height: calc(40/16);
            margin-top: 1rem;
            margin-bottom: 3rem;
        }

        .section-title{
            font-weight: bold;
            color: var(--clr-primary);
            height: calc(36rem/16);
            font-size: calc(24rem/16);
        }

        .subsection-title{
            font-weight: bold;
            color: var(--clr-primary);
            height: calc(20rem/16);
            font-size: calc(18rem/16);
            margin-top: 2rem;
            scroll-margin-top: 10rem;
            align-self: center;
        }

        .p-text{
            font-size: 1rem;
            text-indent: calc(30rem/16);
            margin: 0;
            margin-bottom: 1rem;
            
        }
        
        footer{
            text-align: left;
            width: 100%;
            padding: 0rem;
            margin: 0rem;
            font-size: calc(12rem/16);
            background: var(--clr-secondary-hover);
            box-shadow: 0rem 0rem calc(3rem/16) gray;
            margin: 0;
            padding: 1rem 0;
            border-radius: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            overflow: hidden;
            position: sticky;
            z-index: 200;
        }

        .abbr-name{
            /* font-weight: bold; */
            width: 100%;
            display: none;
        }

        /* FOR MOBILE/SMALL SCREENS!!! */
        @media only screen and (max-width: 768px){
            nav.navbar{
                flex-direction: column;
                align-self: center;
                width: 100%;
                padding: 0;
                padding-left: 0;
                padding-right: 0;
                justify-content: center;
                align-items: center;
                margin: 0;
                position: sticky;
            }
            .logo-list{
                padding-top: 1rem;
                align-self: center;
                text-align: center;
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0;
                margin: 0;
                margin-top: 0.6rem;
            }
            .logo-item{
                justify-content: center;
                width: 100%;
            }
            .nav-list{
                align-self: center;
                justify-content: space-evenly;
                padding: 0;
                margin: 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                column-gap: 0;
                row-gap: 0;
                gap: 0vw;
                text-align: center;
            }
            .nav-item{
                text-align: center;
                display: flex;
                justify-content: center;
                flex: 1;
            }
            .nav-item a{
                text-align: center;
            }
            body main{
                flex-direction: column;
                align-self: center;
                justify-content: space-between;
                padding: 0;
                margin: 20vw;
            }
            body{
                overflow-x: hidden;
                width: 100%;
                max-width: 100%;
            }
            .pdf{
                width: 100vw;
                height: 80vh;
            }
            .description .headshot{
                width: 30%;
                margin: 0;
                margin-top: 2rem;
                display: block;
            }
            .description {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            .section-title{
                margin: 0;
                margin-top: 3rem;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .subsection-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1rem;
                width: 100%;
                margin-top: 3rem;
            }
            .p-text{
                margin-left: 1rem;
                margin-right: 1rem;
                font-size: 0.8rem;
            }
            header{
                margin: 0;
                margin-top: 1rem;
            }
            .about-navbar{
                display: flex;
                position: sticky;
                top: 0;
                z-index: 150;
            }
            .about-list{
                /* display: block; */
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease;
                width: 100%;
                flex-direction: column;
                padding: 0;
            }
            .about-list.open{
                display: flex;
                max-height: calc(500rem/16);
                /* box-shadow: 0rem calc(8rem/16) calc(10rem/16) -calc(5rem/16) gray; */
            }
            .about-item{
                margin: 0.3rem 0;
                text-align: center;
            }
            .about-item:first-child{
                margin-top: 1rem;
            }
            .about-item:last-child{
                margin-bottom: 1rem;
            }
            .subsection-navbar{
                width: 15vw;
            }
            .full-name{
                display: none;
            }
            .abbr-name{
                display: inline;
            }
            .hamburger{
                display: flex;
                background: none;
                border: none;
                padding: 0.5rem;
            }
        }
